#question{
width:300px;
height:200px;
font-size: 400%;
border:1px solid black;
position: absolute;
top:25%;
left:25%;
text-align: center;
}
button{
width:150px;
height:100px;  
font-size: 200%;
position: absolute;
top:240px; 
left:700px; 
}
#result{
    width:300px;
    height:200px;
    font-size: 400%;
    border:1px solid black;
    position: absolute;
    top:25%;
    left:900px;
    text-align:center;

}
#submit{
width:150px;
height:100px;  
font-size: 200%;
position: absolute;
top:400px;
left:900px;
background-color: blueviolet;
}
